.list-group-item {
    margin-top: 3px; 
    margin-bottom: 3px; 
    padding: 40px 5px; 
}
.pagination {
    display: flex;
    justify-content: center;
    /* 居中对齐 */
    margin-top: 5px;
    /* 上边距，可以根据需要调整 */
}

.pagination button {
    padding: 10px 15px;
    /* 内边距，增加按钮大小 */
    margin: 0 5px;
    /* 左右间隔 */
    border: none;
    background-color: #f7f7f7;
    /* 按钮背景颜色 */
    cursor: pointer;
}

.pagination button:hover {
    background-color: #e0e0e0;
}

/* DashBoard.css */
.dashboard-squares {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.dashboard-square {
    width: 48%;
    /* Adjust width as needed */
    padding: 20px;
    background-color: #f0f0f0;
    /* Your color choice */
    border-radius: 4px;
    /* Optional rounded corners */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Optional shadow */
}

.dashboard-square-content {
    text-align: center;
}

.dashboard-square-title {
    display: block;
    font-size: 1.5em;
    color: #333;
    /* Your color choice */
    margin-bottom: 10px;
}

.dashboard-square-number {
    display: block;
    font-size: 2.5em;
    color: #333;
    /* Your color choice */
}
